<!--aqui fica as pequenas tabela com as funcionalidades que aparecem na tela principal-->
<!--<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;color: black;">
            <div class="card-header" style="text-align: center;">
                <b>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-laughing" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M12.331 9.5a1 1 0 0 1 0 1A4.998 4.998 0 0 1 8 13a4.998 4.998 0 0 1-4.33-2.5A1 1 0 0 1 4.535 9h6.93a1 1 0 0 1 .866.5zM7 6.5c0 .828-.448 0-1 0s-1 .828-1 0S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 0-1 0s-1 .828-1 0S9.448 5 10 5s1 .672 1 1.5z"/>
                    </svg> Cliente
                </b>
            </div>
            <ul class="list-group list-group-flush">
                <a href="/lists/listarClientes" class="list-group-item list-group-item-action">Lista de Clientes</a>
                <a href="/forms/formCliente" class="list-group-item list-group-item-action">Novo Cliente</a>
                <a href="" class="list-group-item list-group-item-action">nada ainda *~*</a>
                <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
            </ul>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem; color: black;">
            <div class="card-header" style="text-align: center;">
                <b>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-sunglasses" viewBox="0 0 16 16">
                        <path d="M4.968 9.75a.5.5 0 1 0-.866.5A4.498 4.498 0 0 0 8 12.5a4.5 4.5 0 0 0 3.898-2.25.5.5 0 1 0-.866-.5A3.498 3.498 0 0 1 8 11.5a3.498 3.498 0 0 1-3.032-1.75zM7 5.116V5a1 1 0 0 0-1-1H3.28a1 1 0 0 0-.97 1.243l.311 1.242A2 2 0 0 0 4.561 8H5a2 2 0 0 0 1.994-1.839A2.99 2.99 0 0 1 8 6c.393 0 .74.064 1.006.161A2 2 0 0 0 11 8h.438a2 2 0 0 0 1.94-1.515l.311-1.242A1 1 0 0 0 12.72 4H10a1 1 0 0 0-1 1v.116A4.22 4.22 0 0 0 8 5c-.35 0-.69.04-1 .116z"/>
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-1 0A7 7 0 1 0 1 8a7 7 0 0 0 14 0z"/>
                    </svg> Usuário
                </b>
            </div>
            <ul class="list-group list-group-flush">
                <a href="/lists/listarUsuario" class="list-group-item list-group-item-action">Lista de Usuários</a>
                <a href="/forms/formUsuario" class="list-group-item list-group-item-action">Novo Usuário</a>
                <a href="" class="list-group-item list-group-item-action">nada ainda *~*</a>
                <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
            </ul>
        </div>
    </div>
</div>
<br>
SEGUNDA PARTE-->

<div class="row">
    <div class="col-sm-6">
      <div class="card" style="color: dark;">
        <div class="card-body">
          <h5 class="card-title">Agendamento</h5>
          <p class="card-text">Agendamento para uma nova consulta de manutenção,tratamento, extração de dente...</p>
          <a href="/forms/formConsulta" class="btn btn-outline-dark">Novo Agendamento</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Cadastro</h5>
          <p class="card-text">Seção para cadastro de um novo paciente. </p>
          <a href="/forms/formCliente" class="btn btn-outline-dark">Cadastrar</a>
        </div>
      </div>
    </div>
  </div>
<br>

