<!--aqui fica as pequenas tabela com as funcionalidades que aparecem na tela principal-->
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card" style="width: 18rem;color: black;">
            <div class="card-header" style="text-align: center;">
              <b>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
                    <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z"/>
                </svg> Modelo
              </b>  
            </div>
            <ul class="list-group list-group-flush">
                <a href="/lists/listarModelo" class="list-group-item list-group-item-action">Lista de Modelos</a>
                <a href="/forms/formModelo" class="list-group-item list-group-item-action">Novo Modelo</a>
                <a href="" class="list-group-item list-group-item-action">nada ainda *~*</a>
                <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
            </ul>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;color: black;">
            <div class="card-header" style="text-align: center;">
                <b>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-laughing" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M12.331 9.5a1 1 0 0 1 0 1A4.998 4.998 0 0 1 8 13a4.998 4.998 0 0 1-4.33-2.5A1 1 0 0 1 4.535 9h6.93a1 1 0 0 1 .866.5zM7 6.5c0 .828-.448 0-1 0s-1 .828-1 0S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 0-1 0s-1 .828-1 0S9.448 5 10 5s1 .672 1 1.5z"/>
                    </svg> Cliente
                </b>
            </div>
            <ul class="list-group list-group-flush">
                <a href="/lists/listarClientes" class="list-group-item list-group-item-action">Lista de Clientes</a>
                <a href="/forms/formCliente" class="list-group-item list-group-item-action">Novo Cliente</a>
                <a href="" class="list-group-item list-group-item-action">nada ainda *~*</a>
                <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
            </ul>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem; color: black;">
            <div class="card-header" style="text-align: center;">
                <b>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-sunglasses" viewBox="0 0 16 16">
                        <path d="M4.968 9.75a.5.5 0 1 0-.866.5A4.498 4.498 0 0 0 8 12.5a4.5 4.5 0 0 0 3.898-2.25.5.5 0 1 0-.866-.5A3.498 3.498 0 0 1 8 11.5a3.498 3.498 0 0 1-3.032-1.75zM7 5.116V5a1 1 0 0 0-1-1H3.28a1 1 0 0 0-.97 1.243l.311 1.242A2 2 0 0 0 4.561 8H5a2 2 0 0 0 1.994-1.839A2.99 2.99 0 0 1 8 6c.393 0 .74.064 1.006.161A2 2 0 0 0 11 8h.438a2 2 0 0 0 1.94-1.515l.311-1.242A1 1 0 0 0 12.72 4H10a1 1 0 0 0-1 1v.116A4.22 4.22 0 0 0 8 5c-.35 0-.69.04-1 .116z"/>
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-1 0A7 7 0 1 0 1 8a7 7 0 0 0 14 0z"/>
                    </svg> Usuário
                </b>
            </div>
            <ul class="list-group list-group-flush">
                <a href="/lists/listarUsuario" class="list-group-item list-group-item-action">Lista de Usuários</a>
                <a href="/forms/formUsuario" class="list-group-item list-group-item-action">Novo Usuário</a>
                <a href="" class="list-group-item list-group-item-action">nada ainda *~*</a>
                <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
            </ul>
        </div>
    </div>
</div>
<br>
<!--SEGUNDA PARTE-->
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card" style="width: 18rem;color: black;">
            <div class="card-header" style="text-align: center;">
              <b>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-seam" viewBox="0 0 16 16">
                    <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2l-2.218-.887zm3.564 1.426L5.596 5 8 5.961 14.154 3.5l-2.404-.961zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
                </svg> Produtos não funciona ainda
              </b>  
            </div>
            <ul class="list-group list-group-flush">
                <a href="/lists/listarProduto" class="list-group-item list-group-item-action">Lista de Produto</a>
                <a href="/forms/formProduto" class="list-group-item list-group-item-action">Novo Produto</a>
                <a href="#" class="list-group-item list-group-item-action">nada ainda *~*</a>
                <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
            </ul>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;color: black;">
            <div class="card-header" style="text-align: center;">
                <b>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart4" viewBox="0 0 16 16">
                        <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                      </svg> Vendas não funciona ainda *~*
                </b>
            </div>
            <ul class="list-group list-group-flush">
                <a href="" class="list-group-item list-group-item-action">NADA *~*</a>
                <a href="" class="list-group-item list-group-item-action">Novo NADA *~*</a>
                <a href="#" class="list-group-item list-group-item-action">Atualizar Dados do NADA *~*</a>
                <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
            </ul>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem; color: black;">
            <div class="card-header" style="text-align: center;">
                <b>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cash-coin" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z"/>
                        <path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z"/>
                        <path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z"/>
                        <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z"/>
                      </svg> Caixa não funciona ainda *~*
                </b>
            </div>
            <ul class="list-group list-group-flush">
                <a href="" class="list-group-item list-group-item-action">Lista de NADA *~*</a>
                <a href="" class="list-group-item list-group-item-action">Novo NADA *~*</a>
                <a href="#" class="list-group-item list-group-item-action">Atualizar Dados do NADA *~*</a>
                <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
            </ul>
        </div>
    </div>
</div>
<br>

