<!--aqui fica as pequenas tabela com as funcionalidades que aparecem
   na tela principal-->


<div class="row">
    <div class="col-sm-6">
      <div class="card" style="color: dark;">
        <div class="card-body">
          <h5 class="card-title">Agendamento</h5>
          <p class="card-text">Agendamento para uma nova consulta de manutenção,tratamento, extração de dente...</p>
          <a href="/forms/formConsulta" class="btn btn-outline-dark">Novo Agendamento</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Cadastro</h5>
          <p class="card-text">Seção para cadastro de um novo paciente. </p>
          <a href="/forms/formCliente" class="btn btn-outline-dark">Cadastrar</a>
        </div>
      </div>
    </div>
  </div>
<br>

