<%-include ('partials/head.ejs')-%>
<%-include('partials/nav.ejs');-%>
<body>
    <div class="container-fluid">
        <h1>RUBBER BOOTS</h1>
            <hr>
            
                

    </div>
    <div class="container">
        COXINHA
    </div> 
        
</body>
<%-include('partials/footer.ejs');-%>
</html>