<%-include ('partials/head.ejs');-%>
<%-include('partials/nav.ejs');-%>
<body>
    <div class="container-fluid", style="text-align: center;">
        <hr>
        <h1>SAPATARIA MOON</h1>
        <hr>
    </div>
    <br>
    <div class="container">
        <%-include('partials/tables.ejs');-%>
    
    </div> 
        
</body>
<%-include('partials/footer.ejs');-%>
</html>